* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
  height: 100%;
  overflow: hidden;
}

body{
  display: flex;
  flex-direction: column;
}
main{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;
  height: 0;
}

:root {
    --primary--color: rgb(68, 70, 75);
    --nav-pill--color: rgb(98, 96, 96);
}

/*Header*/
header {
    background-color: var(--primary--color);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-content: center;
}

.logo {
    color: white;
}

ul {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

ul li {
    list-style: none;
}

.nav-pill {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    padding: 3px 6px;
    border-radius: 6px;
    background-color: var(--nav-pill--color);
    cursor: pointer;
}

.nav-pill:hover {
    opacity: 0.6;
}

.nav-pill.active {
    background-color: #5485d3;
}

#productDisplay {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* overflow-y: auto; */
    padding: 10px; 
    overflow-y: auto;
    min-height: 0;
  }
  .product-card {
    width: 250px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  
  .original-price {
    text-decoration: line-through;
    color: gray;
    margin-left: 6px;
  }
  
  .discount {
    color: green;
    font-weight: bold;
    margin-left: 6px;
  }

  .card-cart-button-strip,
  .card-rating-discount-strip {
    display: flex;
    justify-content: space-between;
  }
  .product-button {
    text-decoration: none;
    color: white;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: var(--nav-pill--color);
  }
  
  /* Hover effect */
  .product-button:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  #filters{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    color: var(--primary--color);
    flex-shrink: 0;
  }

  #gender-selection{
    border: 1px solid var(--primary--color);
    font-size: large;
    padding: 4px;
  }

  .products-filter{
    display: flex;
    flex: 1;
    overflow: hidden;
    min-height: 0;
  }
  #filters-tab{
    display: flex;
    flex-direction: column;
    width: 250px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .filter-head{
    color: var(--primary--color)
  }
  #rating-input{
    width: 150px;
  }
  #clearBtn{
    width: 100px;
    color: black;
  }
  #searchInput{
    padding: 5px;
  }
  #gender-filter{
    padding: 5px;
  }