* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary--color: #2c3e50;
    --accent:#4f46e5;
    --light-bg: #f5f7fa;
}


body{
  background: var(--light-bg);
  display: flex;
  flex-direction: column;
}

main{
height: calc(100vh - 80px);
display: flex;
flex-direction: column;
padding-top: 10px;
}


/*Header*/
header {
    background: linear-gradient(90deg,#4f46e5,#6366f1);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    align-content: center;
}

.logo {
    color: white;
}

ul {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

ul li {
    list-style: none;
}

.nav-pill {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    padding: 3px 6px;
    border-radius: 6px;
    background-color: var(--nav-pill--color);
    cursor: pointer;
}

.nav-pill:hover {
    opacity: 0.6;
}

.nav-pill.active {
    background-color: #5485d3;
}

#productDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  overflow-y: auto;
  align-content: start;
  }
  .product-card {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  background: #fff;
  transition: all 0.3s ease;
  /* overflow: hidden; */
  }
  .product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: transform 0.4s ease;
  }

  .product-card:hover{
    transform: translateY(-8px);
    transform: scale(1.08);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  }
  
  
  .original-price {
    text-decoration: line-through;
    color: gray;
    margin-left: 6px;
  }
  
  .discount {
    color: green;
    font-weight: bold;
    margin-left: 6px;
  }

  .card-cart-button-strip,
  .card-rating-discount-strip {
    display: flex;
    justify-content: space-between;
  }
  .product-button {
    background: var(--accent);
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;

  }
  .addtoCart{
      margin-top: 10px;
      padding: 10px;
      border: none;
      background: var(--accent);
      color: white;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
  }
  .addtoCart:hover{
    background: #3730a3;
  }
  
  /* Hover effect */
  .product-button:hover {
    background: #3730a3;
  }

  #filters{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    color: var(--primary--color);
    flex-shrink: 0;
  }

  #gender-selection{
    border: 1px solid var(--primary--color);
    font-size: large;
    padding: 4px;
  }

  .products-filter{
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 20px;
    flex: 1;
    overflow: hidden;
  }
  
  #filters-tab{
  background:white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  position: sticky;
  height:fit-content;
  top: 80px;
  }

  .filter-head{
    color: var(--primary--color)
  }

  #rating-input{
    width: 150px;
  }

  #clearBtn{
    width: 100px;
    color: white;
    font-size: 1.2rem;
    outline: none;
    border: none;
    font-weight: 600;
  }

  #searchInput{
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 220px;
  }

  #gender-filter{
    padding: 5px;
  }

  h3{
    margin: 10px 0;
  }

  .product-card p{
    margin: 6px 0;
  }

